.material-icons.verde { color: #3fbb05; font-size: 40px;}
.material-icons.md-48 { font-size: 48px; }
.material-icons.negro { color: black;}
.material-icons.rojo { color: #f75206;}
.material-icons.anarillo { color: #f3f703;}