input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.material-icons.rojo { color: #f75206; font-size: 40px;}
.material-icons.verde { color: #3fbb05; font-size: 40px;}