<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
  <title>calibracion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <section class="container-fluid">
    <div class="text-center mb-4 my-4">
      <h1>Cronograma de actividades</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 text-center">
        <table datatable="ng" *ngIf="cronAct" [dtOptions]="cronAct" class="row-border hover table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Actividad</th>
              <th class="col-4">Asignado a:</th>
              <th>Cantidad</th>
              <th>Tiempo / fase</th>
              <th>Estado</th>
              <th>Fecha de entrega</th>
              <th>Evidencia</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px;" class="datTable">
            <tr *ngFor="let cA of cronAct"> <!-- *ngFor="let cronoActivity of cronogramaActividades"| filter:filterPost"-->
              <td>{{cA.id}}</td>
              <td>{{cA.actividad }}</td>
              <td>{{cA.asignado }}</td>
              <td>{{cA.cantidad}}</td>
              <td>{{cA.timefase }}</td>
              <td>{{cA.estado }}</td>
              <td>{{cA.fechaentrega }}</td>
              <td><a href="https://drive.google.com/file/d/1EvX2KKcJQWelOiw4j5cwEx1Ygiy9LH57/view?usp=sharing" target="_blank">Oracle Certified.pdf</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <div style="text-align: center;" class="my-4">
    <a class="botonEnlace btn btn-primary" href="http://localhost:4200/cronogramaActividades" role="button">Atras</a>
  </div>
</body>
</html>
