<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    
<head>
	<title>My Awesome Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/assets/images/logo.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" class="form-control input_user" [(ngModel)]='email' placeholder="Nombre de usuario">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" [(ngModel)]="password" placeholder="Contraseña">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Recordar contraseña</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="button" name="button" class="btn login_btn" (click)='login()' >Acceder</button>
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						¿No tienes cuenta? <a href="" data-toggle="modal" data-target="#registro" class="ml-2">Registrarse</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a [routerLink]="(['/recuperacion'])">¿Olvidaste tu contraseña?</a>
					</div>
				</div>
			</div>
			<!--Inicio Modal registro-->
			<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    			<div class="modal-dialog modal-xl" align="center">
				  <div class="modal-content" style="background: lightblue;">
					<!-- -image: linear-gradient(90deg, rgba(8, 120, 143, 1) 0%, rgba(152, 217, 244, 1) 49%, rgba(1, 179, 180, 1) 100%, rgba(8, 120, 143, 1) 100%) -->
    			    <div class="modal-header">
					  <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
    			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    			        <span aria-hidden="true">&times;</span>
    			      </button>
    			    </div>
    			    <div class="modal-body">
    			      <app-register></app-register>
    			    </div>
    			  </div>
				</div>
			</div>
			<!--Fin Modal registro-->
		</div>
	</div>
</body>
</html>
