body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  background-image: linear-gradient(90deg, rgba(8, 120, 143, 1) 0%, rgba(152, 217, 244, 1) 49%, rgba(1, 179, 180, 1) 100%, rgba(8, 120, 143, 1) 100%);
}

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #c7d2f0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #34649b;
  padding: 10px;
  text-align: center;
  animation: latidos 5s infinite;
  transform-origin: center;
}

@keyframes latidos {
    from { transform: none; }
    10% { transform: scale(.94); }
    to { transform: none; }
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.form_container_recuperacion {
  margin-top: 50px;
}

.login_btn {
  width: 100%;
  background: #124f96 !important;
  color: white !important;
}

.recupera_btn {
  width: 100%;
  background: #124f96 !important;
  color: white !important;
  margin-left: 5px;
  margin-right: 5px;
}

.login_btn:hover {
  transition: 500ms;
  width: 100%;
  background: #010979 !important;
  color: white !important;
}



.vuelve_btn:hover,
.recupera_btn:hover {
  transition: 500ms;
  width: 100%;
  background: #010979 !important;
  color: white !important;
  margin-left: 5px;
  margin-right: 5px;
}

.vuelve_btn {
  width: 100%;
  background: #45658a !important;
  color: white !important;
  margin-left: 5px;
  margin-right: 5px;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #124f96 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #124f96 !important;
}

.titulo p {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: block;
  margin-top: 70px;
  margin-left: 0;
}

.modal-content{
  width: 80%;
}