  /* #button {
   padding: 0;
  }

  #button li {
   display: inline;
  }

  table{
    border: none;
  }
  th{
    background: grey;
  }
  th,td{
    border: solid black 2px;
  }

  div#menu{
    float: left;
  }

  div#tabla{
    float: center;
  }

  .border{
      border: solid black 2px;
  } */