<meta charset="UTF-8">
<title>calibracion</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<section class="container-fluid">
  <div class="text-center mb-4 my-4">
    <h1>Calibracion</h1>
  </div>
  <div class="row justify-content-center">
    <div class="inpu3">
      <aside>
        <!--div class="row"-->
          <div class="marcarTodo" >
            <form action="calibracion.component.ts" method="GET">
              <div class="inpu1">
                <p>Id del proyecto: </p>
                <p>Proyecto: </p>
                <p>Fases de desarrollo</p>
              </div>
              <div class="inpu2">
                <input name="idProyecto" type="text" value="Ingrese el Id"/>
                <input name="nombreProyecto" type="text" value="Ingrese el nombre del proyecto"/>
                <select name="fases">
                  <option selected value="0"> Elige una fase </option>
                  <option value="1">Analisis</option>
                  <option value="2">Diseño</option>
                  <option value="3">Desarrollo</option>
                  <option value="4">Pruebas</option>
                </select>
                </div>

              <div style="text-align: center;" class="my-4">
                <input class="inpBut" type="reset" value="Limpiar">
              </div>
            </form>
          </div>
        <!--/div-->
      </aside>
    </div>

    <div class="inpu4">
      <div style="border: solid black 3px; padding-right: 2px; width: 100%;" class="text-center">
        <h3 style="font: bold;">Estado del proyecto</h3><br>
        <h1>
          <span class="circulo">1</span> <br><br>
          <p class="alertaProyecto">El proyecto no se ha iniciado</p>
        </h1>
        <div style="text-align: center;" class="my-4">
          <input class="inpBut" type="submit" value="Calibrar">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="mi-tabla">

  <table datatable class="row-border hover ">
    <thead>
      <tr>
        <th>ID del proyecto</th>
        <th>Proyecto</th>
        <th>Fase de desarrollo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{id}}</td>
        <td>{{proyecto}}</td>
        <td>{{fase}}</td>
      </tr>
    </tbody>
  </table>

</div>



